<footer class="wide-tb-70 pb-0 mb-spacer-md footer-second">
	<div class="container pos-rel">
		<div class="row">
			<div class="col-lg-4 col-md-12">
				<div class="logo-footer">
					<img src="{{site.data.company-details.whtlogo}}" class="w-25 img-fluid" alt>
				</div>
				<p>This is version of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet</p>
				<div class="footer-widget-contact">
					<ul class="list-unstyled">

						<li>
							<div><i data-feather="phone"></i> </div>
							<div><a href="tel:{{site.data.company-details.phone}}" class="text-white">{{site.data.company-details.phone}}</a></div>
						</li>
						<li>
							<div><i data-feather="mail"></i> </div>
							<div><a href="{{site.data.company-details.email}}" class="text-white">{{site.data.company-details.email}}</a></div>
						</li>
						<li>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-7 offset-lg-1 col-md-12">
				<div class="footer-subscribe">
					<h3>Newsletter</h3>
					<h2>Get Update Every Week</h2>
					<div class="input-wrap">
						<input type="text" name="name" placeholder="Enter Your Email">
						<button type="submit" class="btn btn-secondary">Subscribe now</button>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="footer-widget-menu">
							<div class="social-icons">
								<ul class="list-unstyled list-group list-group-horizontal">
									{% for social in site.data.company-details.social %}
									<li><a href="{{social.link}}" target="_blank"><i class="icofont-{{social.name}}"></i></a></li>
									{% endfor %}

								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright-wrap bg-secondary">
		<div class="container pos-rel">
			<div class="row text-md-start text-center">
				<div class="col-sm-12 col-md-auto copyright-text">
					&copy; Copyright KR Toolbox <span id="yearText"></span>
				</div>
			</div>
		</div>
	</div>
</footer>