<form method="post" action="https://formspree.io/f/{{page.form_id}}" class="row g-3" id="my-form">
    <div class="col-md-6">
      <label name="name" for="yourName" class="form-label text-white">Your Name</label>
      <input type="text" class="form-control" name="Name" placeholder="Name">
    </div>
    <div class="col-md-6">
      <label name="location" for="yourCompany" class="form-label text-white">Venue</label>
      <input type="text" class="form-control" name="Location" value="{{page.name}}" placeholder="Location" readonly>
    </div>
    <div class="col-md-12">
      <label name="Event Type" for="Event Type" class="form-label text-white">Type of Event</label>
      <select class="form-control">
        <option value="">--Please Choose Event Type--</option>
        <option value="band">Band</option>
        <option value="wedding">Wedding</option>
        <option value="private-event">Private Event</option>
        <option value="community-event">Community Event</option>
      </select>
    </div>
    <div class="col-md-12">
      <label name="email" for="yourName" class="form-label text-white">Email Address</label>
      <input type="text" class="form-control" name="Email" placeholder="Email">
    </div>
    <div class="col-md-12">
      <label name="email" for="yourName" class="form-label text-white">Phone Number</label>
      <input type="text" class="form-control" name="Phone" placeholder="Phone">
    </div>
    <div class="col-md-12">
      <label name="message" for="yourMessage" class="form-label text-white">Message</label>
      <textarea class="form-control" name="Message" rows="3" placeholder="Message"></textarea>
    </div>
    <div class="col-md-12">
      <input type="hidden" name="inbox_key" value="bellevie-contact-us">
      <input type="text" name="_gotcha" style="display: none;">
      <input class="btn btn-block btn-primary" type="submit" value="Send Message">

    </div>
  </form>